.main{
    /* background: linear-gradient(170deg,blue,red); */
    backdrop-filter: blur(140px);
}

.title{
    background-color: rgba(255, 179, 1, 0.823);
    box-shadow: 0 0 10px  rgba(255, 179, 1, 0.823);
    color: black;
    font-weight: bold;
}

.btn{
    background-color: rgba(255, 179, 1, 0.823);
    box-shadow: 0 0 10px  rgba(255, 179, 1, 0.823);
}